.about img {
    width: auto;
    height: 30px;
}

.about {
    font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.about p {
    text-align: center;
}

.about a {
    color: #23528d;
}

.about a:hover {
    color: #66afe9;
    text-decoration: none;
}