.about img {
    width: auto;
    height: 26px;
}

.about {
    font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.about p {
    text-align: center;
}

.about a {
    color: #23528d;
}

.about a:hover {
    color: #66afe9;
    text-decoration: none;
}

.about h2 {
    color: #23528d;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    margin-bottom: 50px;
}